<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shinelon.lianqin">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SettingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CameraActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseCalssActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ManualActivity"
            android:label="脸勤"
            android:parentActivityName=".CameraActivity"/>
        <activity android:name=".PrivateBroadcastViewActivity"
            android:label="脸勤"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PublicBroadcastViewActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NoteActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NoteDetailsActivity"
            android:parentActivityName=".NoteActivity"/>
        <activity android:name=".RecordActivity"
            android:label="选择班级"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RecordDetailsActivity"
            android:parentActivityName=".RecordActivity"/>
        <activity android:name=".RecordClassDetailsActivity"
            android:parentActivityName=".RecordDetailsActivity"/>
        <activity android:name=".StudentDetailsActivity"
            android:parentActivityName=".RecordClassDetailsActivity"/>
        <activity android:name=".AddFaceActivity"
            android:parentActivityName=".ChooseCalssActivity"/>
        <activity android:name=".RegisterOrUpdateFaceActivity"
            android:parentActivityName=".AddFaceActivity"/>

        <provider
            android:authorities="com.example.shinelon.lianqin.myProvider"
            android:exported="false"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths_file"/>
        </provider>

    </application>

</manifest>